.altomain{
    height: 100px;
    background-color:yellow;
}
.colorletra{
     color: black !important;
}
h3{
    text-align: center;


}
.micolor{
    background-color: rgb(44, 44, 44);
    color: beige;
}
.colorsito{
    background-color: yellow !important;
}
body{
    background-color: yellow;
}